body {
    font-family:Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height:1.9;
}

a{
    text-decoration: none;
    color:#333;

}

a:hover {
    color: #007BFA;
    text-decoration: underline;

}

header {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 3.0rem;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    color: #fff;
    font-weight: bold;
}
nav a:hover {
    color: #FFD701
}

section {
    padding: 20px;
    margin: 20px 10%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section h2 {
    margin-top: 0;
    color: #007BFF;
}

section p {
    margin: 10px 0;
}

.work-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;

}

.work-item {
    background: #eaea;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: calc(48% - 10px);
    overflow:hidden;
    text-align: center;
    transition: transform 0.3s, box-shoadow 0.4s;


}

.work-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);

}

.work-item img {
    width: 100%;
    height: auto;
    max-height:200px;
    object-fit: cover;
    border-radius: 8px;

}

.work-item h3 {
    padding: 10px;
    margin: 0;

}


@media (max-width: 768px) {
    .work-item {
        width: 100%;
    }


section {
    margin: 20px 5%;
   } 
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 10px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
    
}